* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
img {
    width: 100px;
}

.site-header {
    background-color: #1F2937;
}

.site-header_wrapper {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.site-header_wrapper .site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

nav ul {
    margin: 1em 0 .5em;
	text-align: center;
    list-style: none;
}

header h1 a {
    color: white;
    text-decoration: none;
    display: inline;
    max-width: 100%;
    height: auto;
}
header li a {
    color: white;
    text-decoration: none;
    display: inline;

}

.main-nav-list {
    margin: 1em 0 .5em;1
    text-align: center;
}

header nav {
    list-style: none;
}
nav ul li {
    display: inline;
}

nav a {
    display: inline-block;
	padding: .5em 1.5em;
}