* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

img {
    width: 100px;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.site-main {
    background-color: #1f2937;
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.main-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-right {
    flex-shrink: 0px;
    width: 50%;
}

.main-left-heading {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.main-left-button {
    padding: 7px 1em;
    width: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
}

.main-left-caption {
    font-size: 18px;
    color: #E5E7EB;
}

.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 250px;
}

/* Second Section Styling */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

.second-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.figure-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 3em 0 6em 0;
}

.figure {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

figure img {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

figcaption {
    font-size: 18px;
    color: #E5E7EB;
}

/* Quote Section */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;   
}

/* Call to action */
.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.callto-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.callto-action-button {
    border: 2px solid #FFF;
    padding: 7px 1em;
    width: 150px;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.callto-action-heading {
    font-size: 24px;
    color: #FFF;
}

.callto-action-caption {
    font-size: 18px;
    color: #E5E7EB;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.footer-copyright {
    font-size: 18px;
    color: #E5E7EB;
}